exercise_datawrangling/data/
version control examples/Abstract_for_nothing.synctex.gz
version control examples/Abstract_for_nothing.pdf
version control examples/Abstract_for_nothing.log
version control examples/Abstract_for_nothing.docx
version control examples/Abstract_for_nothing.aux
exercise_submissions/data/c-1_m4.csv
exercise_submissions/data/c-2_m4.csv
exercise_Tanvi's_Code/data/c-1_m4.csv
exercise_Tanvi's_Code/data/c-2_m4.csv
